body{
  background-color: #009dbd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

#card{
  padding: 2em;
  margin: 1em;
  margin-top: 4em;
  background-color: white;
  border-radius: 10px;
  display: block;
}

#title{
  padding-bottom: 1em;
  font-size: 2em;
}

#description{
  font-weight: bold;
  margin-bottom: 1em;
}

input[type=submit]{
  border: solid;
  border-width: medium;
  border-color: #009dbd;
  border-radius: 1em;
  font-size: 1em;
  background-color: #009dbd;
  color: white;
  outline: none;
}

input[type=submit] a{
  color: white;
  text-decoration: none;
}

input[type=submit]:hover a{
  color: black;
}

input[type=submit]:hover{
  border: solid;
  border-color: #009dbd;
  border-width: medium;
  background-color: white;
  color: black;
}

input[type=submit]:active{
  background-color: gray;
  outline: none;
}

input{
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type=text]{
  border: none;
  outline: none;
  border-bottom: solid;
  border-width: thin;
  font-size: 1em;
  width: 100px;
}
